.indexImg {
    padding: 5px;
    margin: 50px;
}

/* // below is controlling the main screen card button with enter or return on the index.html */

.col-sm-4 {
    /* position: relative; */
    /* float: left; */
    float: move;
}

body {
    background-color: lightblue;
}

/* div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
  } */

